<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.dao.BlogMapper">

    <!-- 当数据库的字段与pojo的字段不匹配时，要指定resultMap,下面指定resultMap 而不是resultType column为数据库的，property为pojo的 -->
    <resultMap type="Blog" id="bid">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="auth" property="auth" />
    </resultMap>

    <!--select,insert,update,delete四个标签定义sql语句，每一个标签对应一条接口中的抽象方法  -->
    <select id="selectBlog" resultMap="bid">
		select *
		from tt_blog where id = #{id}
	</select>

    <insert id="saveBlog" parameterType="Blog">
		insert into tt_blog (id,title) values(#{id},#{title})
	</insert>

    <update id="updateBlog" parameterType="Blog">
        update tt_blog set title = #{title}
        <!-- 动态sql，当想更新的内容不为空的时候，则会执行，否则将不会执行 -->
        <if test="auth != null">
            ,auth = #{auth}
        </if>
        where id = #{id}
    </update>

    <delete id="deleteBlog">
		delete from tt_blog where id = #{id}
	</delete>
</mapper>